<a href="https://colab.research.google.com/github/nyac-1/trading-financial-announcements/blob/main/data_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline

from google.colab import drive; drive.mount('/content/gdrive', force_remount=True)
%cd '/content/gdrive/My Drive/Colab Notebooks'

import pandas as pd
import glob

Mounted at /content/gdrive
/content/gdrive/My Drive/Colab Notebooks

In [2]:
sent_df=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/sent-ana.csv")
text_df=pd.read_csv("/content/gdrive/My Drive/nlp/text.csv").drop("Unnamed: 0", axis = 1)
final_df=pd.DataFrame(columns = ['name','sent','text'])

In [3]:
count = 0
for x in range(sent_df.shape[0]):
    for y in range(text_df.shape[0]):
        if(sent_df.loc[x,'name'] == text_df.loc[y,'name']):
            final_df.loc[count,'name'] = sent_df.loc[x,'name']
            final_df.loc[count,'text'] = text_df.loc[y,'text']
            final_df.loc[count,'sent'] = sent_df.loc[x,'sent']
            count+=1

In [4]:
final_df.head()

,name,sent,text
0,25-Jul-2022 76 2.pdf,0,export xml please read explanatory notes caref...
1,06-Jul-2022 37 2.pdf,0,export xml please read explanatory notes caref...
2,23-Jun-2022 80 2.pdf,0,export xml please read explanatory notes caref...
3,16-Jun-2022 10 1.pdf,2,aem create additional jobs expansion singapore...
4,13-Jun-2022 63 2.pdf,0,export xml please read explanatory notes caref...

In [5]:
final_df.to_csv("final.csv", index = False)